general {
    interval 	    = 1
    colors 	    = true
    color_good      = '#88b090'
    color_degraded  = '#ccdc90'
    color_bad       = '#e89393'
}

order += "volume master"
order += "disk /"
order += "disk /home"
order += "battery 1"
order += "cpu_temperature 0"
order += "backlight"
order += "xrandr"

order += "rainbow time"

rainbow backlight {
    backlight {}
}

rainbow time {
    time {}
}